@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: 240 242 245;
    --background-secondary: 255 255 255;
    --background-inverse: 249 250 251;

    --border-primary: 13 19 26 / 0.15;

    --content-primary: 23 33 43;
    --content-secondary: 122 138 153;
    --content-ternary: 167 180 194;
    --content-disabled: 167 180 194;

    --semantic-warning: 255 169 71;
    --semantic-negative: 245 78 89;
    --semantic-positive: 0 129 194;

    --accent-primary: 0 129 194;
    --accent-secondary: 0 173 121;
    --accent-ternary: 111 66 235;

    --button-supply: 0 194 137;
    --button-supply-muted: 0 194 137;
    --button-borrow: 111 66 235;
    --button-neutral: 216 223 229;
    --button-disabled: 240 242 245;
  }

  .dark {
    --background-primary: 13 19 26;
    --background-secondary: 29 40 51;
    --background-inverse: 23 33 43;

    --border-primary: 249 250 251 / 0.15;

    --content-primary: 255 255 255;
    --content-secondary: 122 138 153;
    --content-ternary: 81 96 112;
    --content-disabled: 81 96 112;

    --semantic-warning: 255 135 31;
    --semantic-negative: 245 78 89;
    --semantic-positive: 0 194 137;

    --accent-primary: 0 170 255;
    --accent-secondary: 0 194 137;
    --accent-ternary: 143 102 255;

    --button-supply: 0 173 121;
    --button-supply-muted: 7 62 46;
    --button-borrow: 111 66 235;
    --button-neutral: 43 57 71;
    --button-disabled: 23 33 43;
  }
}

@layer base {
  * {
    @apply break-all border-border-primary;
  }
  body {
    @apply bg-background-primary text-content-primary paragraph-md;
  }
  h1 {
    @apply title-1;
  }
  h2 {
    @apply title-2;
  }
  h3 {
    @apply title-3;
  }
  h4 {
    @apply title-4;
  }
  h5 {
    @apply title-5;
  }
}
