@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow nested rainbow modals */
.iekbcc0 {
  pointer-events: auto;
}

@layer base {
  :root {
    --background-primary: 240 242 245;
    --background-secondary: 255 255 255;
    --background-inverse: 249 250 251;
    --background-accent: 206 232 245;
    --background-warning: 255 231 184;
    --background-negative: 247 197 200;
    --background-positive: 197 235 223;

    --border-primary: 13 19 26 / 0.15;

    --content-primary: 23 33 43;
    --content-secondary: 122 138 153;
    --content-ternary: 167 180 194;
    --content-disabled: 167 180 194;

    --semantic-warning: 255 169 71;
    --semantic-negative: 245 78 89;
    --semantic-positive: 0 194 137;

    --accent-primary: 0 129 194;
    --accent-secondary: 0 173 121;
    --accent-secondary-deemphasized: 111 66 235;
    --accent-ternary: 111 66 235;

    --button-supply: 0 194 137;
    --button-supply-deemphasized: 197 235 223;
    --button-borrow: 111 66 235;
    --button-borrow-deemphasized: 218 204 255;
    --button-neutral: 216 223 229;
    --button-disabled: 240 242 245;

    --header-height: 76px;
  }

  .dark {
    --background-primary: 13 19 26;
    --background-secondary: 29 40 51;
    --background-inverse: 23 33 43;
    --background-accent: 6 50 71;
    --background-warning: 71 34 20;
    --background-negative: 74 30 34;
    --background-positive: 7 62 46;

    --border-primary: 249 250 251 / 0.15;

    --content-primary: 255 255 255;
    --content-secondary: 122 138 153;
    --accent-secondary-deemphasized: 132 153 255;
    --content-ternary: 81 96 112;
    --content-disabled: 81 96 112;

    --semantic-warning: 255 135 31;
    --semantic-negative: 245 78 89;
    --semantic-positive: 0 194 137;

    --accent-primary: 0 170 255;
    --accent-secondary: 0 194 137;
    --accent-ternary: 143 102 255;

    --button-supply: 0 173 121;
    --button-supply-deemphasized: 7 62 46;
    --button-borrow: 111 66 235;
    --button-borrow-deemphasized: 59 40 112;
    --button-neutral: 43 57 71;
    --button-disabled: 23 33 43;
  }

  @media (max-width: 768px) {
    :root {
      --header-height: 104px;
    }
  }
}

@layer base {
  * {
    @apply break-words border-border-primary;
  }
  body {
    @apply bg-background-primary text-content-primary paragraph-md;
  }
  h1 {
    @apply title-1;
  }
  h2 {
    @apply title-2;
  }
  h3 {
    @apply title-3;
  }
  h4 {
    @apply title-4;
  }
  h5 {
    @apply title-5;
  }
}
